body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-family: "kaisei-opti", sans-serif;
  font-weight: 400;
  font-style: normal;
}

a {
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}


a:visited {
  color: #ffffff;
  /* 訪問済みリンクの色 */
}

a:hover {
  color: #ffffff;
}

a:hover::after {
  transform: scaleX(1);
  /* ホバー時に下線がスライドイン */
  transform-origin: left;
}

a:active {
  color: #ffffff;
  /* クリック中のリンクの色 */
}

a:focus {
  color: #ffffff;
  /* フォーカス時のリンクの色 */
}

h1 {
  font-size: 50px;
}

p {
  font-size: 18px;
}


.section {
  width: 100%;
  height: 100vh;
  /* 画面全体の高さ */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
}

.CC {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 60px;
  width: auto;
  height: auto;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 25px;
  padding-right: 25px;
}

.top {
  background-image: url(https://github.com/fan-tech/fanfanfan_vrc_v2/blob/main/images/1.jpg?raw=true);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;

}

.about {
  background-image: url(https://github.com/fan-tech/fanfanfan_vrc_v2/blob/main/images/2.jpg?raw=true);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;

}

.activity {
  background-image: url(https://github.com/fan-tech/fanfanfan_vrc_v2/blob/main/images/4.jpg?raw=true);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;

}

.contact {
  background-image: url(https://github.com/fan-tech/fanfanfan_vrc_v2/blob/main/images/3.jpg?raw=true);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;

}
